@import url('https://fonts.googleapis.com/css2?family=Inter&family=Spectral&display=swap');

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 100%;
}

/*Hero Image*/

.hero {
    background-image: url(images/lilies.jpeg);
    background-size: cover;
    background-position: 0% 25%;
    height: 25%;
    display: flex;
}

.hero_content {
    padding-left: 5rem;
    padding-top: 1.25rem;
    line-height: 0.8;
}

.hero_content h1 {
    font-size: 3.75rem;
    font-weight: lighter;
}
.hero_content h3 {
    font-family: 'Spectral', serif;
    font-size: 1.25rem;
}

/*Bio Section Image and Caption*/

.portrait_container {
    max-width: 25%;
    height: auto;
}

.portrait {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*Bio Text*/

.bio {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-right: 50px;
}


/*Gallery*/

.gallery img {
    width: 368px;
    height: 382px;
}