@import url('https://fonts.googleapis.com/css2?family=Inter&family=Spectral&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 100%;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

/*Hero Image and Content*/

.hero {
    background-image: url(images/lilies.jpeg);
    background-size: cover;
    background-position: 0% 25%;
    background-repeat: no-repeat;
    height: 298px;
}

.hero_content {
    padding-left: 5rem;
    padding-top: 5rem;
    line-height: 1;
}

.hero_content h1 {
    font-size: 3.75rem;
    font-weight: lighter;
}

.hero_content h3 {
    font-family: 'Spectral', serif;
    font-size: 1.25rem;
}

/*Bio Image and Caption*/
.image_container {
    max-width: 25%;
    height: 40%;
}
.portrait {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*Bio Section*/

.bio {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    padding: 5rem;
}

.bio_paragraphs {
    width: 100%;
}

.paragraph {
    margin-bottom: 10px;
}

/*Gallery Section*/

.gallery {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 32% 32% 32%;
    grid-gap: 20px;
    padding: 0 5rem 0 5rem;
}

.images_small {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*Quote*/

.divider {
    border: .5px solid black;
    margin: 0 10rem;
    margin-top: 2rem;
}

.quote {
    font-size: 2.5rem;
    text-align: center;
    padding: 5rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote_author {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
}

blockquote {
    display: flex;
    flex-direction: column;
    font-style: normal;
}

.quote_text {
    font-family: 'Spectral', serif;
}

/*23 Original Tales List*/

.book_list {
    padding: 4rem 5rem;
}

.booklist_title {
    font-family: 'Spectral', serif;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 2rem;
}

.booklist_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    width: 25%;
    list-style: none;
}

/*Footer*/

footer {
    background-image: url(images/lilies.jpeg);
    background-size: cover;
    background-position: 10% 25%;
    height: 79px;
}